{% extends 'base.html' %} 

{% block title %}To-Do List - Home{% endblock %}

{% block content %}

  <h1>To-Do list</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">To Do</th>
        <th scope="col">Done</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% if all_items %}
        {% for item in all_items %}
          {% if item.completed %}
          <tr class="table-success">
            <th class="table-success striker" scope="row"><a href="{% url 'edit' item.id %}">{{ item.item_name }}</a></th>
            <td><a href="{% url 'uncross' item.id %}">Not ready Yet</a></td>
            <td><a href="{% url 'delete' item.id %}">del</a></td>
          </tr>
          {% else %}
          <tr>
            <th scope="row"><a href="{% url 'edit' item.id %}">{{ item.item_name }}</a></th>
            <td><a href="{% url 'cross_off' item.id %}">Mark as Ready</a></td>
            <td><a href="{% url 'delete' item.id %}">del</a></td>
          </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  
{% endblock %}